html {
    background-color: #1e1e1e;
}



body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 50px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-size: 20px;
}

button {
    font-family: 'Ubuntu', sans-serif;
    background-color: #fb2576;
    color: #000;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    padding: 14px 40px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;
  }

  button:hover {
    font-family: 'Ubuntu', sans-serif;
    background-color: #000;
    color: #fb2576;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    padding: 14px 40px;
    width: auto;
    cursor: pointer;
  }
